@font-face {
  font-family: 'Vazirmatn';
  src: url('fonts/Vazirmatn-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Vazirmatn' !important;
}

.mask-feather {
  mask-image: radial-gradient(ellipse at center, black 60%, transparent 100%) !important;
  -webkit-mask-image: radial-gradient(ellipse at center, black 60%, transparent 100%);
  mask-repeat: no-repeat;
  mask-size: cover;
}

.btn-primary {
  background-color: #ffc526 !important;
  color: #013646 !important;
}

.btn-primary:hover {
  background-color: #ffdd70 !important;
}

.btn-primary:active {
  background-color: #ffc526 !important;
}